<h1>Friends</h1>
<ul>
    {{#each posts}}
        <li><a href="https://steemit.com/{{this.parent_permlink}}/@{{this.author}}/{{this.permlink}}">{{this.title}}</a> @{{this.author}}</li>
    {{/each}}
</ul>