<h1>Friends Lastest Activity</h1>
<ul>
    {{#each posts}}
        <li>
            @{{this.author}}
            <a href="https://steemit.com/{{this.parent_permlink}}/@{{this.author}}/{{this.permlink}}">{{this.title}}</a>
            {{this.created}}
        </li>
    {{/each}}
</ul>
<script src="/moment/min/moment.min.js"></script>